<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="System_of_sports_organizations.Properties.Settings.KyrsovoyConnectionString"
            connectionString="Data Source=DESKTOP-3H9C6CS\SQLEXPRESS;Initial Catalog=Kyrsovoy;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>